Control Flow Statements
if
elif
else

In [83]:
marks = 65
if marks >= 80:
    print("you will be part of top batch")

elif marks >= 60 and marks < 80:
    print("you will be a part of second batch")

elif marks<60 and marks>=40:
    print("you will be a part of third batch")

else:
    print("you will be part of last batch")

you will be a part of second batch

To take user input --> there is a function called input("type a message")
now the input function reads the input in string by default so we need to typecast it to integer or other datatypes before using it somewhere if necessary.

In [84]:
marks = int(input("enter a number:")) #IT TAKES MARKS AS INPUT EVERY TIME WE EXECUTE THE PROGRAM.

if marks >= 80:
    print("you will be part of top batch")

elif marks >= 60 and marks < 80:
    print("you will be a part of second batch")

elif marks<60 and marks>=40:
    print("you will be a part of third batch")

else:
    print("you will be part of last batch")

you will be part of last batch

In [85]:
type(marks)

int

In [86]:
marks #this is what I inputted

1

In [87]:
price = int(input("enter price"))
if price > 1000:
   print("i will not purchase")
   if price>5000:
      print("this is too much")
else:
    print("I will purchase the product")

I will purchase the product

In [88]:
price

2

LOOP:
for
while

In [89]:
#given a list, traverse the list and perform various operations on the list

l = [1,2,3,3,4,5,6,7,8]

Q - add 1 to each element of the list l1?

In [90]:
l1 = []
for i in l:  #same as do while loop in java
    l1.append(i+1) #appends the elements of list l in list l1 by adding 1 to each element.
print(l1)

[2, 3, 4, 4, 5, 6, 7, 8, 9]

In [91]:
l2 = ["sudh", "kumar", "udemy", "course"]

In [92]:
l3 = []
for i in l2:  #same as do while loop in java
    l3.append(i.upper()) #appends the elements of list l in list l1 =making all of them in uppercase.
print(l3)

['SUDH', 'KUMAR', 'UDEMY', 'COURSE']

In [93]:
ls = [1,2,3,4,"sudh", "kumar", 324, 34.456, "abc"]

Q - to seperate string data from integer and float data in above list and print them?

In [94]:
ls1 = []
ls2 =[]
for i in ls:  
    if str(i) == i:  #we can also use (type(i) == str)
        ls1.append(i)
    else:
        ls2.append(i)
print(ls1)
print(ls2)

['sudh', 'kumar', 'abc']
[1, 2, 3, 4, 324, 34.456]

Q - to seperate integer, float, string in seperate list?

In [95]:
ls1 = []
ls2 = []
ls3 = []
for i in ls:  
    if type(i) == str:
        ls1.append(i)
    elif type(i) == int:
        ls2.append(i)
    else:
        ls3.append(i)
print(ls1)
print(ls2)
print(ls3)

['sudh', 'kumar', 'abc']
[1, 2, 3, 4, 324]
[34.456]

In [96]:
lst = [1,2,3,4,5]

In [97]:
for i in lst:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [98]:
lst1 = ["sudh", "kumar", "issac", "newton"]

In [99]:
for i in lst1:
    print(i)

sudh
kumar
issac
newton

In [100]:
lst1

['sudh', 'kumar', 'issac', 'newton']

In [101]:
for i in lst1:
    print(i)
else : #else statement will only execute if for loop completes all iterations i.e.
       #for loop successfully exhause itself.
    print("do something")

sudh
kumar
issac
newton
do something

In [102]:
for i in lst1:
    if(i == "kumar"):
        break #it makes us exit the loop
    print(i)

sudh

In [103]:
for i in lst1:
    if i == "kumar":
        break
    print(i)
else:
    print("execute this if for loop is able to complete itself")

sudh

since loop was abruptly stopped at i == "kumar" thatswhy else statement is never executed.

In [104]:
for i in lst1:
    if i=="kumar":
        continue
    print(i)
#continue stops the current execution and sends the control back to for loop

sudh
issac
newton

In [105]:
for i in lst1:
    if i=="kumar":
        continue
    print(i)
else:
    print("execute this if for loop is able to complete itself")
#here for loop is not interrupted we just skipped one iteration half way

sudh
issac
newton
execute this if for loop is able to complete itself

range(start, stop[, step]) -> function
range(stop) -> range object range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step. range(i, j) produces i, i+1, i+2, ..., j-1. start defaults to 0, and stop is omitted! range(4) produces 0, 1, 2, 3. These are exactly the valid indices for a list of 4 elements. When step is given, it specifies the increment (or decrement).

on concept of slicing we can produce data in a range excluding the upper limit.

In [106]:
range(5)

range(0, 5)

In [107]:
list(range(5))

[0, 1, 2, 3, 4]

In [108]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [109]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [110]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [111]:
lst1

['sudh', 'kumar', 'issac', 'newton']

range() function is used with for loop as shown below:

In [112]:
list(range(len(lst1)))

[0, 1, 2, 3]

In [113]:
for i in range(len(lst1)): #range(len(lst1)) produces [0, 1, 2, 3] which can be used
                           #as indexes.
    print(lst1[i])

sudh
kumar
issac
newton

In [114]:
list(range(len(lst1)-1, -1, -1))

[3, 2, 1, 0]

In [115]:
for i in range(len(lst1)-1, -1, -1):
    print(lst1[i])

newton
issac
kumar
sudh

we can also write:

In [116]:
for i in [3,2,1,0]: #but in this method we cannot traverse 'n' number of elements.
    print(lst1[i])

newton
issac
kumar
sudh

In [117]:
lst2 = [23,5,45,56,6,67,67,78,87,8898,9,9,8]

Q - print data that is on even index?
ans - first we generate a range of elements for the for loop to traverse using range method
        range(0,len(lst2),2)
      the create the for loop to traverse the list

In [118]:
list(range(0,len(lst2),2)) #to generate even indexes

[0, 2, 4, 6, 8, 10, 12]

In [119]:
for i in range(0,len(lst2),2):
    print(lst2[i])

23
45
6
67
87
9
8

In [120]:
lst3 = [1,2,3,4,5,6,7,8,98]

Q - print sum of all the elements of a list?

In [121]:
s = 0
for i in range(len(lst3)):
    s = s + lst3[i];
print(s)

134

In [122]:
s = 0
for i in lst3:
    s = s + i;
print(s)

134

we can also use a method called sum()

In [123]:
sum(lst3) #this error is occuring because I may have used sum as a int type variable somewhere in the 
          #above code.

TypeError: 'int' object is not callable

In [124]:
t = (1,2,3,4,4,5)

In [125]:
for i in t:
    print(i)

1
2
3
4
4
5

In [127]:
result = 0
for i in t:
    result = result + i;
print(result)

19

In [128]:
s={1,2,3,4,5,"sudh","kumar"}

In [129]:
for i in s:
    print(i)

1
2
3
4
5
sudh
kumar

In [130]:
s1 = "sudhKumar"

In [131]:
for i in s1:
    print(i)

s
u
d
h
K
u
m
a
r

In [132]:
d= {'name':"sudh", 'class': "4th sem", 'topics': ["python", "dbms", "OS", "Java"]}

Q - extract values from dictionary based on the keys?
ans - we know that we can extract a list of keys from dictionary using:
        d.keys() function
      now with help of d.keys we can traverse whole dictionary using for loop

In [133]:
d.keys()

dict_keys(['name', 'class', 'topics'])

In [134]:
for i in d.keys():
    print(d[i])

sudh
4th sem
['python', 'dbms', 'OS', 'Java']

to print values without the help of keys we use:

In [137]:
d.values()

dict_values(['sudh', '4th sem', ['python', 'dbms', 'OS', 'Java']])

In [136]:
for i in d.values():
    print(i)

sudh
4th sem
['python', 'dbms', 'OS', 'Java']

Now to print both key value pairs we can use:
    d.items() method

In [138]:
d.items()

dict_items([('name', 'sudh'), ('class', '4th sem'), ('topics', ['python', 'dbms', 'OS', 'Java'])])

In [139]:
for i in d.items():
    print(i)

('name', 'sudh')
('class', '4th sem')
('topics', ['python', 'dbms', 'OS', 'Java'])

WHILE LOOP

In [140]:
a = 1
while a<=10:
    print(a)
    a=a+1
    #we need to explicitly increment variable of while loop on our own

1
2
3
4
5
6
7
8
9
10

Q - sum up the numbers till the input digit?

In [146]:
m = int(input("enter your limit"))
starting_point = 0
counter = 1
while(counter <= m):
    starting_point += counter
    counter += 1
print("the name is:",starting_point)

the name is: 1275

Q - Find the factorial of a number?

In [151]:
n = int(input("enter a number:"))
f = 1
n1 = n
while n1>0:
    f *= n1
    n1 -= 1
print("factorial of the",n,"is:",f)

factorial of the 4 is: 24

We get a default space at the end of the string before printing next thing after comma.

Q - print fibonacci series? 

0, 1, 2, 3, 5, 8, 13,.....

Using While loop

In [160]:
n = int(input("enter a number:"))
n1 = n
a, b = 0, 1
s = 0

while n1 > 0:
    print(a,end=" ")
    s = a+b
    a = b
    b = s
    n1 -= 1

0 1 1 2 3 5 8

Using for loop

In [164]:
n = int(input("enter a number:"))
n1 = n
a, b = 0, 1
s = 0
for i in range(n):
    print(a,end=" ")
    s = a+b
    a = b
    b = s
    n1 -= 1

0 1 1 2 3 5 8 13 21 34

In [165]:
s = "sudh"

In [166]:
#reverse string
s[::-1]

'hdus'

In [173]:
#reverse using while loop

s = input("enter string for reversal:")
r = "" #create an empty string then append the elements we get by traversing input string backwards
l = len(s)
while(l > 0):
    r = r + s[l-1]
    l -= 1

print(r)

yirp

In [174]:
#reverse using for loop

s = input("enter string for reversal:")
r = "" #create an empty string then append the elements we get by traversing input string backwards
l = len(s)
for i in range(l-1, -1, -1):
    r = r + s[l-1]
    l -= 1

print(r)

hdus

Q - print multiplication table of a number till 10

In [175]:
#using for loop
n = int(input("enter the number:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [176]:
#using while loop
n = int(input("enter the number:"))
i = 1
while i<=10:
    print(n,"x",i,"=",n*i)
    i = i+1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Using else with While

In [179]:
n = 5
i = 1
while i<n:
    print(i)
    i = i+1
else:
    print("this will be executed once your while is completed")

1
2
3
4
this will be executed once your while is completed

In [181]:
n = 5
i = 1
while i<n:
    print(i)
    if(i==3): 
        break
    i = i+1
else:
    print("this will not be executed if while loop is terminated i.e not executed till the end")

1
2
3

COMPREHENSION OPERATION --> shortening of loops

It seems like you might be asking about the concept of comprehension operations in Python. Comprehensions are concise and readable syntax constructions that allow you to create sequences (lists, sets, dictionaries) based on existing sequences. There are three main types of comprehensions in Python: list comprehensions, set comprehensions, and dictionary comprehensions.

List Comprehension:

    Creates a new list based on an existing iterable.

    # Syntax: [expression for item in iterable if condition]
                squares = [x**2 for x in range(10) if x % 2 == 0]
    
    Set Comprehension:

    Similar to list comprehensions but creates a set.

    # Syntax: {key_expression: value_expression for item in iterable if condition}
                square_dict = {x: x**2 for x in range(5)}

These comprehensions can make your code more concise and readable when you need to perform simple operations on iterable elements. The optional if condition allows you to filter the elements based on a certain criterion.

Here's a simple example combining all three comprehensions to demonstrate their usage:

# List comprehension
even_squares = [x**2 for x in range(10) if x % 2 == 0]

# Set comprehension
unique_squares = {x**2 for x in range(10)}

# Dictionary comprehension
square_dict = {x: x**2 for x in range(5)}

print("Even Squares:", even_squares)
print("Unique Squares:", unique_squares)
print("Square Dictionary:", square_dict)

This would output:

Even Squares: [0, 4, 16, 36, 64]
Unique Squares: {0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
Square Dictionary: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

Each comprehension is a concise and efficient way to create new sequences based on existing ones.

In [199]:
list1 = [1,2,3,4,45,5]
list2 = []
for i in list1:
    list2.append(i**2)
print(list2)

[1, 4, 9, 16, 2025, 25]

Doing the above thing using Comprehension operation

In [185]:
[i**2 for i in list1]

[1, 4, 9, 16, 2025, 25]

Q - extract even numbers and place them in a set collection from a list using comprehension?

In [190]:
{i for i in list1 if i%2 == 0} #first mention what you need to store in the list then mention the condition.

{2, 4}

In [200]:
list2 = ["sudh", "kumar", "is", "a", "great", "teacher"]

In [201]:
[i.upper() for i in list2] #capitalise all the elements in the list

['SUDH', 'KUMAR', 'IS', 'A', 'GREAT', 'TEACHER']

Tuple comprehension will generate an object that contains the data of tuple but to print data we either have to typecast it to a list or we can use for loop as well.

In [202]:
(i**2 for i in list1)

In [204]:
list(i**2 for i in list1)

[1, 4, 9, 16, 2025, 25]

USING COMPREHENSION in DICTIONARY

In [205]:
d= {'key1':1, 'key2':2, 'key3':3, 'key4':4}

Q - return square of values in an list?

In [206]:
[i**2 for i in d.values()]

[1, 4, 9, 16]

Q - return square of values in an dictionary?

In [207]:
{i**2 for i in d.values()}

{1, 4, 9, 16}

Q - return key value pair for which key is greater than 1?

In [212]:
{k:v for k,v in d.items() if v > 1} #here we can see that for loop is working with 2 variables at once
                                    #first variable 'k' fetches keys and second variable 'v' fetches 
                                    #values from dictionary.

{'key2': 2, 'key3': 3, 'key4': 4}

In [213]:
true → true

SyntaxError: invalid character '→' (U+2192) (1480840263.py, line 1)