Control Flow Statements
if
elif
else

In [1]:
marks = 65
if marks >= 80:
    print("you will be part of top batch")

elif marks >= 60 and marks < 80:
    print("you will be a part of second batch")

elif marks<60 and marks>=40:
    print("you will be a part of third batch")

else:
    print("you will be part of last batch")

you will be a part of second batch

To take user input --> there is a function called input("type a message")
now the input function reads the input in string by default so we need to typecast it to integer or other datatypes before using it somewhere if necessary.

In [4]:
marks = int(input("enter a number:")) #IT TAKES MARKS AS INPUT EVERY TIME WE EXECUTE THE PROGRAM.

if marks >= 80:
    print("you will be part of top batch")

elif marks >= 60 and marks < 80:
    print("you will be a part of second batch")

elif marks<60 and marks>=40:
    print("you will be a part of third batch")

else:
    print("you will be part of last batch")

you will be part of top batch

In [5]:
type(marks)

int

In [7]:
marks #this is what I inputted

90

In [11]:
price = int(input("enter price"))
if price > 1000:
   print("i will not purchase")
   if price>5000:
      print("this is too much")
else:
    print("I will purchase the product")

I will purchase the product

In [12]:
price

556

LOOP:
for
while

In [31]:
#given a list, traverse the list and perform various operations on the list

l = [1,2,3,3,4,5,6,7,8]

Q - add 1 to each element of the list l1?

In [22]:
l1 = []
for i in l:  #same as do while loop in java
    l1.append(i+1) #appends the elements of list l in list l1 by adding 1 to each element.
print(l1)

[2, 3, 4, 4, 5, 6, 7, 8, 9]

In [23]:
l2 = ["sudh", "kumar", "udemy", "course"]

In [28]:
l3 = []
for i in l2:  #same as do while loop in java
    l3.append(i.upper()) #appends the elements of list l in list l1 =making all of them in uppercase.
print(l3)

['SUDH', 'KUMAR', 'UDEMY', 'COURSE']

In [32]:
ls = [1,2,3,4,"sudh", "kumar", 324, 34.456, "abc"]

Q - to seperate string data from integer and float data in above list and print them?

In [37]:
ls1 = []
ls2 =[]
for i in ls:  
    if str(i) == i:  #we can also use (type(i) == str)
        ls1.append(i)
    else:
        ls2.append(i)
print(ls1)
print(ls2)

['sudh', 'kumar', 'abc']
[1, 2, 3, 4, 324, 34.456]

Q - to seperate integer, float, string in seperate list?

In [39]:
ls1 = []
ls2 = []
ls3 = []
for i in ls:  
    if type(i) == str:
        ls1.append(i)
    elif type(i) == int:
        ls2.append(i)
    else:
        ls3.append(i)
print(ls1)
print(ls2)
print(ls3)

['sudh', 'kumar', 'abc']
[1, 2, 3, 4, 324]
[34.456]

In [2]:
lst = [1,2,3,4,5]

In [5]:
for i in lst:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [6]:
lst1 = ["sudh", "kumar", "issac", "newton"]

In [7]:
for i in lst1:
    print(i)

sudh
kumar
issac
newton